body{
    background-color: #e07979;
    font-family: Arial, sans-serif;
    margin:auto;
    box-shadow:3px 3px 3px rgb(57, 44, 44);
}
 *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blueviolet;
 }
    .lute{
        color: red;
        font-size: 30px;
        text-align: center;
        margin:auto;
        
    }